@page "/clientlist"
@inject NavigationManager NavigationManager
@inject HttpClient Http
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Newtonsoft.Json
@using AutoDealerSphere.Shared.Models

<SfBreadcrumb>
    <BreadcrumbItems>
        <BreadcrumbItem IconCss="e-icons e-home" Url="/" />
        <BreadcrumbItem Text="顧客管理" Url="/" />
    </BreadcrumbItems>
</SfBreadcrumb>

<h2>顧客管理</h2>
<h3>顧客一覧</h3>

<div class="search-form">
    <EditForm Model="@Search" OnValidSubmit="() => OnSearch(Search)">
        <DataAnnotationsValidator />
        <div class="form">
            <div class="form-row">
                <label>名前・カナ</label>
                <SfTextBox @bind-Value="Search.NameOrKana" Placeholder="名前またはカナ"></SfTextBox>
            </div>
            <div class="form-row">
                <label>メールアドレス</label>
                <SfTextBox @bind-Value="Search.Email" Placeholder="メールアドレス"></SfTextBox>
            </div>
            <div class="form-row">
                <label>電話番号</label>
                <SfTextBox @bind-Value="Search.Phone" Placeholder="電話番号"></SfTextBox>
            </div>
            <div class="form-row">
                <label>住所</label>
                <SfTextBox @bind-Value="Search.Address" Placeholder="郵便番号、都道府県、住所"></SfTextBox>
            </div>
            <div class="form-buttons">
                <SfButton Type="ButtonType.Submit">検索</SfButton>
            </div>
        </div>
    </EditForm>
</div>
<br />

<div class="toolbar">
    <SfButton OnClick="AddClient" CssClass="e-primary">新規追加</SfButton>
</div>
<br />

@if (Clients.Any())
{
    <SfGrid DataSource="@Clients" AllowPaging="true" AllowSorting="true" AllowMultiSorting="true">
        <GridTemplates>
            <RowTemplate>
                @{
                    var client = context as AutoDealerSphere.Shared.Models.Client;
                    <td colspan="9">
                        <div class="client-row">
                            <div class="row-line1">
                                <span class="client-id">@client.Id</span>
                                <span class="client-name">
                                    <span @onclick="() => EditClientFromContext(context)" class="grid-link">
                                        @client.Name
                                    </span>
                                </span>
                                @if (!string.IsNullOrWhiteSpace(client.Kana))
                                {
                                    <span class="client-kana">@client.Kana</span>
                                }
                                @if (!string.IsNullOrWhiteSpace(client.Phone))
                                {
                                    <span class="client-phone">📞 @client.Phone</span>
                                }
                            </div>
                            <div class="row-line2">
                                <span class="client-address">
                                    〒@client.Zip @GetPrefectureName(client.Prefecture)@client.Address
                                    @if (!string.IsNullOrWhiteSpace(client.Building))
                                    {
                                        <span> @client.Building</span>
                                    }
                                </span>
                                @if (!string.IsNullOrWhiteSpace(client.Email))
                                {
                                    <span class="client-email">✉ @client.Email</span>
                                }
                            </div>
                        </div>
                    </td>
                }
            </RowTemplate>
        </GridTemplates>
        <GridColumns>
            <GridColumn Field="@nameof(AutoDealerSphere.Shared.Models.Client.Id)" HeaderText="ID"></GridColumn>
            <GridColumn Field="@nameof(AutoDealerSphere.Shared.Models.Client.Name)" HeaderText="名前"></GridColumn>
            <GridColumn Field="@nameof(AutoDealerSphere.Shared.Models.Client.Kana)" HeaderText="カナ"></GridColumn>
            <GridColumn Field="@nameof(AutoDealerSphere.Shared.Models.Client.Phone)" HeaderText="電話番号"></GridColumn>
            <GridColumn Field="@nameof(AutoDealerSphere.Shared.Models.Client.Zip)" HeaderText="郵便番号"></GridColumn>
            <GridColumn Field="@nameof(AutoDealerSphere.Shared.Models.Client.Prefecture)" HeaderText="都道府県"></GridColumn>
            <GridColumn Field="@nameof(AutoDealerSphere.Shared.Models.Client.Address)" HeaderText="住所"></GridColumn>
            <GridColumn Field="@nameof(AutoDealerSphere.Shared.Models.Client.Building)" HeaderText="建物名"></GridColumn>
            <GridColumn Field="@nameof(AutoDealerSphere.Shared.Models.Client.Email)" HeaderText="メール"></GridColumn>
        </GridColumns>
    </SfGrid>
}
else
{
    <p class="error-message">顧客情報が見つかりません。</p>
}

@code {
}
