@page "/issuerinfo"

<h3>発行者情報管理</h3>

@if (isLoading)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">読み込み中...</span>
        </div>
    </div>
}
else if (errorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}
else
{
    <EditForm Model="@issuerInfo" OnValidSubmit="SaveIssuerInfo">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="card mb-4">
            <div class="card-header">
                <h5>基本情報</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="postalCode">郵便番号</label>
                            <InputText id="postalCode" class="form-control" @bind-Value="issuerInfo.PostalCode" />
                            <ValidationMessage For="@(() => issuerInfo.PostalCode)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyName">社名</label>
                            <InputText id="companyName" class="form-control" @bind-Value="issuerInfo.CompanyName" />
                            <ValidationMessage For="@(() => issuerInfo.CompanyName)" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="address">住所</label>
                    <InputText id="address" class="form-control" @bind-Value="issuerInfo.Address" />
                    <ValidationMessage For="@(() => issuerInfo.Address)" />
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="position">役職</label>
                            <InputText id="position" class="form-control" @bind-Value="issuerInfo.Position" />
                            <ValidationMessage For="@(() => issuerInfo.Position)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">氏名</label>
                            <InputText id="name" class="form-control" @bind-Value="issuerInfo.Name" />
                            <ValidationMessage For="@(() => issuerInfo.Name)" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phoneNumber">電話番号</label>
                            <InputText id="phoneNumber" class="form-control" @bind-Value="issuerInfo.PhoneNumber" />
                            <ValidationMessage For="@(() => issuerInfo.PhoneNumber)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="faxNumber">FAX番号</label>
                            <InputText id="faxNumber" class="form-control" @bind-Value="issuerInfo.FaxNumber" />
                            <ValidationMessage For="@(() => issuerInfo.FaxNumber)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h5>口座情報1</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bank1Name">銀行名</label>
                            <InputText id="bank1Name" class="form-control" @bind-Value="issuerInfo.Bank1Name" />
                            <ValidationMessage For="@(() => issuerInfo.Bank1Name)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bank1BranchName">支店名</label>
                            <InputText id="bank1BranchName" class="form-control" @bind-Value="issuerInfo.Bank1BranchName" />
                            <ValidationMessage For="@(() => issuerInfo.Bank1BranchName)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bank1AccountType">口座種別</label>
                            <InputText id="bank1AccountType" class="form-control" @bind-Value="issuerInfo.Bank1AccountType" />
                            <ValidationMessage For="@(() => issuerInfo.Bank1AccountType)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bank1AccountNumber">口座番号</label>
                            <InputText id="bank1AccountNumber" class="form-control" @bind-Value="issuerInfo.Bank1AccountNumber" />
                            <ValidationMessage For="@(() => issuerInfo.Bank1AccountNumber)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h5>口座情報2</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bank2Name">銀行名</label>
                            <InputText id="bank2Name" class="form-control" @bind-Value="issuerInfo.Bank2Name" />
                            <ValidationMessage For="@(() => issuerInfo.Bank2Name)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bank2BranchName">支店名</label>
                            <InputText id="bank2BranchName" class="form-control" @bind-Value="issuerInfo.Bank2BranchName" />
                            <ValidationMessage For="@(() => issuerInfo.Bank2BranchName)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bank2AccountType">口座種別</label>
                            <InputText id="bank2AccountType" class="form-control" @bind-Value="issuerInfo.Bank2AccountType" />
                            <ValidationMessage For="@(() => issuerInfo.Bank2AccountType)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bank2AccountNumber">口座番号</label>
                            <InputText id="bank2AccountNumber" class="form-control" @bind-Value="issuerInfo.Bank2AccountNumber" />
                            <ValidationMessage For="@(() => issuerInfo.Bank2AccountNumber)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" disabled="@isSaving">
                @if (isSaving)
                {
                    <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                }
                保存
            </button>
        </div>
    </EditForm>
}